/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Josefin Slab', serif;
}

/* Header */
header {
    background-color: rgb(220, 128, 0);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'DM Serif Display', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    font-size: 20px;

}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
    padding-top: 10px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.burger {
    position: relative;
    top: 10px;
    
}
/* Main content */
main {
    background-color: #ffffff;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 68px;
}

/* Intro */

#part-1 {
    margin-top: -45px;    
    height: 400px;
    width: 100%;
    background: url("../images/saint-elder-joseph.webp") no-repeat center left/cover;
    position: relative;
    
}

#introduction {
    background-color: rgb(255 255 255 / 62%);
    font-size: 95%;
    position: absolute;
    bottom: 29px;
    width: 100%;
    min-height: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    color:black;
}

#introduction h1 {
    padding: 2px 0 10px;
}

/* Biography */

#part-2 {
    background-color: #ffffff;
    position: relative;
    margin-top: -30px;
    
}

#josephs-biography {
    background-color: inherit;
    margin: 10px;
    font-size: 110%;
    text-align: center;
    margin-top: -40px;
}

#josephs-biography h2 {
    font-family: 'DM Serif Display', sans-serif; 
    
}

#josephs-disciples-biography {
    background-color: inherit;
    margin: 10px;
    font-size: 110%;
    text-align: center;
}

#josephs-disciples-biography h2 {
    font-family: 'DM Serif Display', sans-serif; 
    text-align: center;
    
}

#elder-arsenios-bg {
    
    background: url('../images/elder-arsenios.webp') no-repeat top center /cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    left: 3px;
    
    
}

#elder-ephraim-of-katunaki-bg {
    background: url('../images/elder-ephraim-of-katunaki.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    left: 3px;
}

#elder-joseph-of-vatopedi-bg {
    background: url('../images/elder-joseph-of-vatopedi.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    left: 3px;
}

#elder-charalampius-bg {
    background: url('../images/elder-charalampius.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    left: 3px;
}

#elder-ephraim-of-arizona-bg {
    background: url('../images/elder-ephraim-of-arizona.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    left: 3px;
}