/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Default */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Josefin Slab', serif;
}

/* Header */
header {
    background-color: rgb(220, 128, 0);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'DM Serif Display', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    font-size: 20px;

}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
    padding-top: 10px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.burger {
    position: relative;
    top: 10px;
    
}

/* Main content */
main {
    background-color: #ffffff;
    flex: 1 0 auto;
    margin-top: 68px;
}

/* Intro */
#part-1 {
    margin-top: -45px;    
    height: 400px;
    width: 100%;
    background: url("../images/saint-elder-joseph.webp") no-repeat center left/cover;
    position: relative;
    
}

#introduction {
    background-color: rgb(255 255 255 / 62%);
    font-size: 95%;
    position: absolute;
    bottom: 29px;
    width: 100%;
    min-height: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    color:black;
}

#introduction h1 {
    padding: 2px 0 10px;
}

/* Biography */
#part-2 {
    background-color: #ffffff;
    position: relative;
    margin-top: -30px;
    
}

#josephs-biography {
    background-color: inherit;
    margin: 10px;
    font-size: 110%;
    text-align: center;
    margin-top: -40px;
}

#josephs-biography h2 {
    font-family: 'DM Serif Display', sans-serif; 
    
}

#josephs-disciples-biography {
    background-color: inherit;
    margin: 10px;
    font-size: 110%;
    text-align: center;
}

#josephs-disciples-biography h2 {
    font-family: 'DM Serif Display', sans-serif; 
    text-align: center;
    
}

.elder-arsenios-bg {
    
    background: url('../images/elder-arsenios.webp') no-repeat top center /cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    left: 3px;
    
    
}

.elder-ephraim-of-katunaki-bg {
    background: url('../images/elder-ephraim-of-katunaki.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    left: 3px;
}

.elder-joseph-of-vatopedi-bg {
    background: url('../images/elder-joseph-of-vatopedi.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    left: 3px;
}

.elder-charalampius-bg {
    background: url('../images/elder-charalampius.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    left: 3px;
}

.elder-ephraim-of-arizona-bg {
    background: url('../images/elder-ephraim-of-arizona.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    position: relative;
    top: 10px;
    left: 3px;
}

/* Elder advices page */
#elders-advices {
    margin: 10px;
    font-size: 110%;
    text-align: justify;
    
}

#elders-advices h1 {
    font-family: 'DM Serif Display', sans-serif; 
    text-align: center;
    
}

#elders-advices h2 {
font-family: 'Josefin Slab', serif;
text-align: center;
}


#elders-advices-image {
    margin-top: -5px;    
    height: 400px;
    width: 100%;
    background: url('../images/the-brotherhood-of-saint-joseph.webp') no-repeat center/cover;
    position: relative;
    
}
/* Information page */
#information {
    position: relative;
    margin-top: -30px;
    margin: 10px;
    font-size: 110%;
    text-align: center;
}

#information h1,h2 {
    font-family: 'DM Serif Display', sans-serif; 
    
}


/* Footer */
iframe {
    width: 100%;
    display: flex;
}
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: gray;
    
    
}

#social-media i {
    font-size: 200%;
    padding: 5%;
    color: #3a3a3a;
    margin-top: -10px;
}

.copyright {
    text-align: center;
    margin-top: -17px;
    font-size: 15px;
}

/* Small devices (phones, 335px and up) */
@media only screen and (min-width: 335px) {

    /* Josephs disciples image*/
    .elder-arsenios-bg {
        height: 90vw;
        width: 90vw;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
        
    }
    
    .elder-ephraim-of-katunaki-bg {
        height: 80vw;
        width: 80vw;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .elder-joseph-of-vatopedi-bg {
        height: 80vw;
        width: 80vw;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .elder-charalampius-bg {
        height: 80vw;
        width: 80vw;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .elder-ephraim-of-arizona-bg {
        height: 80vw;
        width: 80vw;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }


}

/* Small devices (phones, 464px and up) */
@media only screen and (min-width: 464px) {


    .burger {
        position: relative;
        top: 5px;
        

        
    }

    #part-1 {
        margin-top: -71px;    
    }

    


    /* Josephs disciples image*/
    .elder-arsenios-bg {
        height: 90vw;
        width: 90vw;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
        
    }
    
    .elder-ephraim-of-katunaki-bg {
        height: 80vw;
        width: 80vw;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .elder-joseph-of-vatopedi-bg {
        height: 80vw;
        width: 80vw;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .elder-charalampius-bg {
        height: 80vw;
        width: 80vw;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .elder-ephraim-of-arizona-bg {
        height: 80vw;
        width: 80vw;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


    .burger {
        position: relative;
        top: 5px;
        
    }

    #part-1 {
        margin-top: -71px

    }

 
     /* Josephs disciples image*/
     .elder-arsenios-bg {
         height: 90vw;
         width: 90vw;
         position: relative;
         margin: auto;
         margin-bottom: 20px;
         
     }
     
     .elder-ephraim-of-katunaki-bg {
         height: 80vw;
         width: 80vw;
         position: relative;
         margin: auto;
         margin-bottom: 20px;
     }
     
     .elder-joseph-of-vatopedi-bg {
         height: 80vw;
         width: 80vw;
         position: relative;
         margin: auto;
         margin-bottom: 20px;
     }
     
     .elder-charalampius-bg {
         height: 80vw;
         width: 80vw;
         position: relative;
         margin: auto;
         margin-bottom: 20px;
     }
     
     .elder-ephraim-of-arizona-bg {
         height: 80vw;
         width: 80vw;
         position: relative;
         margin: auto;
         margin-bottom: 20px;
     }



}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
  
    }

    #menu > li {
        padding-left: 1rem;
        
    }


    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 180%;
        line-height: 37px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        margin-top: 79px;
    }

    #part-1 {
        margin-top: -45px

    }

    /* Josephs disciples part 1*/
    #josephs-disciples-biography {
        margin-top: 30px;
        text-align: justify;
    }

    #josephs-disciples-biography h2{
        text-align: center;
        margin-bottom: -20px;
    }

    #josephs-disciples-biography h3 {
        text-align: center;
        
    }

    /* Josephs disciples image and content*/
   
    #elder-arsenios{
        margin-top: 30px;
        
    }
    .elder-arsenios-bg {
        float: left;
        margin-right: 10px;
        height: 14vw;
        width: 14vw;
        position: relative;
        margin-top: -30px;
    }

    #elder-ephraim-of-katunaki {
        margin-top: 30px;
    }

    .elder-ephraim-of-katunaki-bg {
       float: left;
        margin-right: 10px;
        height: 14vw;
        width: 14vw;
        position: relative;
        margin-top: -30px;

    }

    #elder-joseph-of-vatopedi {
        margin-top: 30px;

    }
    .elder-joseph-of-vatopedi-bg {
        float: left;
        margin-right: 10px;
        height: 14vw;
        width: 14vw;
        position: relative;
        margin-top: -10px;

    }

    #elder-charalampius {
        margin-top: 30px;

    }

    .elder-charalampius-bg {
        float: left;
        margin-right: 10px;
        height: 14vw;
        width: 14vw;
        position: relative;
        margin-top: -20px;

    }

    #elder-ephraim-of-arizona {
        margin-top: 30px;

    }

    .elder-ephraim-of-arizona-bg {
        float: left;
        margin-right: 10px;
        height: 14vw;
        width: 14vw;
        position: relative;
        margin-top: -20px;
    }

    /* Elder advices page */

#elders-advices-image {
    height: 500px;
    width: 100%;
   
}

/* Footer google maps */
iframe {
    height: 700px;
}

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
    #logo {
        font-size: 250%;
        line-height: 55px;
        margin: 0 0.5rem;
    }
    /* Main */
    #part-1 {
       margin-top: 30px;
        
    }

    /* Josephs disciples image */
   
    .elder-arsenios-bg {
        
        margin-right: 10px;
        height: 10vw;
        width: 10vw;
        position: relative;
        margin-top: -20px;
    }

    .elder-ephraim-of-katunaki-bg {
        
        margin-right: 10px;
        height: 10vw;
        width: 10vw;
        position: relative;
        margin-top: -10px;

    }

    .elder-joseph-of-vatopedi-bg {
        
        margin-right: 10px;
        height: 10vw;
        width: 10vw;
        position: relative;
        margin-top: -10px;

    }

    .elder-charalampius-bg {
       
        margin-right: 10px;
        height: 10vw;
        width: 10vw;
        position: relative;
        margin-top: -20px;

    }

    .elder-ephraim-of-arizona-bg {
        
        margin-right: 10px;
        height: 10vw;
        width: 10vw;
        position: relative;
        margin-top: -20px;
    }

    /* Elder advices page */

#elders-advices {
    margin-top: 40px;
}

#elders-advices-image {
    height: 650px;
    width: 100%;
   
}

/* Information page */
#information {
    margin-top: 40px;
    
}

/* Footer google maps */
iframe {
    height: 900px;
}


}

@media screen and (min-width: 1200px) {    

    /* Nav */
    #logo {
        font-size: 250%;
        line-height: 55px;
        margin: 0 0.5rem;
        position: relative;
        top: 10px;
    
    }
    nav {
        margin: 15px;
    }

    /* Part-1*/
    #part-1 {
        height: 700px;
        width: 100%;
        margin: -47px 0 -70px 0;
        
    }

    #introduction {
        width: 50%;
        right: 40px;
        bottom: 300px;
        font-size: 25px;
    }

    /* Part-2*/
    #part-2 {
     position: relative;
     margin-top: -55px;
        
    }

    #josephs-biography {
        font-size: 150%;
    }

    #josephs-disciples-biography {
        font-size: 150%;

    }

    /* Josephs disciples */
    #josephs-disciples-biography {
        margin-top: 30px;
        text-align: justify;
    }

    #josephs-disciples-biography h2{
        text-align: center;
        margin-bottom: -20px;
    }

    #josephs-disciples-biography h3 {
        text-align: center;
        }
    /* Josephs disciples image */
   
    .elder-arsenios-bg {
       
        margin-right: 10px;
        height: 11vw;
        width: 11vw;
        position: relative;
        margin-top: -45px;
    }

    .elder-ephraim-of-katunaki-bg {
        
        margin-right: 10px;
        height: 11vw;
        width: 11vw;
        position: relative;
        margin-top: -35px;

    }

    .elder-joseph-of-vatopedi-bg {
        
        margin-right: 10px;
        height: 11vw;
        width: 11vw;
        position: relative;
        margin-top: -25px;

    }

    .elder-charalampius-bg {
        
        margin-right: 10px;
        height: 11vw;
        width: 11vw;
        position: relative;
        margin-top: -25px;

    }

    .elder-ephraim-of-arizona-bg {

        margin-right: 10px;
        height: 11vw;
        width: 11vw;
        position: relative;
        margin-top: -25px;
    }

/* Elder advices page */
#elders-advices {
    margin-top: 30px;
    font-size: 150%;
}

#elders-advices-image {
    height: 1000px;
    width: 100%;
    
}
    /* Information page */
  #information {
    font-size: 150%;
    margin-top: 30px;
}

    /*  Copyright */
    .copyright {
        font-size: 18px;
        margin-top: -20px;
    }

}
